#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: blue;
    width: 500px;
    height:450px; /*need to fix this*/
    padding:3%;
    margin: auto;
}


#calcDisplay {
    text-align: end;
    margin-bottom: 20px;
    height:60px;
    background-color: lightgray;
    font-size: 40px;

}

.calcButtons {
    background-color: red;
    color: white;
    font-weight: bold;
    font-size:20px;
}

button {
    width: 24%;
    padding:20px;
    margin-top: 2px;
}

.flex-rows {
    width: 400px;
}

#clear {
    width: 100%;
    flex-basis: 100%;
}

